<main class=" cd-main-content">
    <div class="container topImg">
        <img src="../../../img/4994b192-biba-logo-sm_03i01e03h01e000000.png" class="img-responsive" width="125px" height="50px" alt="Error image" />
    </div>

    <div class="cd-fixed-bg cd-bg-1">

    </div>
    <!-- cd-fixed-bg -->

    <div class="full_content_1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 content_1_left">
                    <h2 class="content-h2-1">Now, screen time is quality time! </h2>
                    <p>
                        Biba games turn the screen-time kids love into the outdoor, physical and imaginative play that parents know they need.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 content_1_right">
                    <p class="content_1_right_p"> Sign up and stay up to date with Biba App updates,
                        <br />case studies and community engagement reports.</p>
                    <div class="input-group input-group-lg txt_height">
                        <input type="text" class="form-control" placeholder="Enter email..." />
                        <span class="input-group-addon content_1_a"><a href="#">Sign Up</a></span>
                    </div>
                    <p class="bottom_p"> By entering your email and signing up, you are agreeing to receive Biba Smart Playground newsletters.Why We're Taking the Next Step </p>
                </div>

            </div>

        </div>
    </div>
    <div class="full_content_2">
        <div class="full_content_2_opacity">
            <div class="container">
                <div class="row content_2">
                    <img src="../../../img/ca0914aa-iphone-h_0p90dd0p70db000000.png" class="img-responsive" width="" height="" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-2">

    </div>
    <!-- cd-fixed-bg -->

    <div class="full_content_3">
        <div class="container ">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 content_3_p1">
                    <p> Is a Biba playground right for your community? </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 content_3_p2">
                    <p>
                        Biba uses the smartphones found in every parents’ pocket or purse to unlock new and exciting games every time a family visits the playground. And it’s not just fun for the kids!

                    </p>
                    <p>
                        Every gameplay session generates a series of family friendly fitness metrics that let parents track their kids’ progress. We lock this information so that it is 100% private and secure!
                    </p>
                    <p>
                        After anonymizing and aggregating this data, our system generates specific reports for your community that will provide you with an unparalleled level of understanding and insight!
                    </p>
                </div>
            </div>
        </div>
        <!-- cd-container -->
    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-3">

    </div>
    <!-- cd-fixed-bg -->

    <div class="full_content_4">
      <div id="full_content_4_opacity">

        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_4_1">
                <img src="../../img/c8bef253-playground_09d09i09d09i000000.png" class="img-responsive" width="337" height="342" alt="error image" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_4_2">
                <p class="content_4p1">Privacy is our top priority</p>
                <p>
                    We understand that digital privacy is a crucial concern for today’s parents. Biba has been designed with that in mind from day one: all of our games are fully compliant with the Children’s Online Privacy and Protection Act.
                </p>
                <p>
                    What’s more, we ensure that all user data is segmented, anonymized and encrypted so that no information can be traced to a particular phone, family or child.
                </p>
            </div>
        </div>
        <!-- cd-container -->
      </div>
    </div>

    <div class="full_content_5">
        <div class="full_content_5_opacity">
            <div class="container content_5_1">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <img src="../../img/4a2da249-feature1_069069069069000000.png" class="img-responsive" width="225" height="225" alt="error image" />
                        <h4>NO DEVICE DANGER</h4>
                        <p class="content_5">
                            Parents don’t need to worry about their shiny new smartphone, thanks to Biba’s “refereed” play mode. The device never leaves the caregiver’s hands and lets parents be an active part of the fun.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <img src="../../img/85105136-feature2_069069069069000000.png" class="img-responsive" width="225" height="225" alt="error image" />
                        <h4>INCLUSIVE PLAY</h4>
                        <p class="content_5">
                            Biba games are designed so that every child can easily join in the fun, regardless of any possible limitations on their mobility. That’s the way it should be… because Biba games are for everyone!
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <img src="../../img/d06f0082-feature3_069069069069000000.png" class="img-responsive" width="225" height="225" alt="error image" />
                        <h4>GAMES ARE ALWAYS FREE</h4>
                        <p class="content_5">
                            Mom and Dad don’t need to worry about being nickel-and-dimed for every new game. Biba games are always free and have been certified as fully family friendly by Google Play!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-4">

    </div>

    <!--  -->
    <div class="full_content_6">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 content_6_img">
                    <span class=""><img src="../../img/066a91dd-iphone-screen_0nz0co0nz0co000000.png" class="img-responsive" width="863" height="456" alt="Error image"/></span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 content_6_2">
                    <p class="content_6_2p1">
                        Ok, how do I get a Biba
                        <br /> playground for my community?
                    </p>
                    <p class="content_6_2p2">
                        Biba-activation is available on every new Miracle or Little Tikes Commercial playground.
                    </p>
                    <p class="content_6_2p2">
                        And if you aren't in the market for a new playground just yet, you can buy an upgrade kit that can be installed on your existing playground in 15 minutes!
                    </p>
                    <p class="content_6_2p2">
                        Biba-activated playgrounds are only available from sales representatives for Miracle or Little Tikes Commercial playground equipment.
                    </p>
                    <p class="content_6_2p2">
                        To find your local Miracle sales representative <a href="https://www.playbiba.com/"><u>click here.</u></a>
                    </p>
                    <p class="content_6_2p2">
                        To find your local Little Tikes Commercial sales representative <a href="http://littletikescommercial.com/rep-locator/"><u>click here.</u></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="full_content_7">
        <div class="full_content_7_opacity">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_7_1">
                        <img src="../../img/d00a474d-testimonial_084084084084000000.png" class="img-responsive" width="" height="" alt="Error image" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_7_2">
                        <p>
                            Why We're Taking the Next Step
                        </p>
                        <p>
                            "We know from a University of Michigan study, among others, that kids are spending about half as much time outdoors as they did 20 years ago. And we agree with parents who believe that's a problem.
                        </p>
                        <p>
                            PlayPower is getting behind Biba as a way to help parents better balance their kids' love of screen time. Biba uses the video game conventions that kids love to get them the outdoor, active and imaginative play that parents know they need."
                        </p>
                        <p>
                            <b>Lynne Vandeveer </b>
                            <br />
                            <i>Chief Marketing Officer, Miracle and Little Tikes Commercial, members of the PlayPower family of companies</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full_content_8">
        <div class="container">
            <div class="row content_8_1">
                <p>
                    If you want to try the games with your own family, feel free
                    <br />to grab your smartphone and download them today!
                </p>
            </div>
            <div class="row content_8_2">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                    <a href="https://itunes.apple.com/us/developer/biba-ventures/id988974228" class="btn btn-default bbu1" target="a"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="https://itunes.apple.com/us/developer/biba-ventures/id988974228" class="btn btn-default bbu2" target="a"></a>
                </div>
            </div>
            <div class="row content_8_3">
                <img src="../../img/2afa9ff3-cmf-logo-en-rev-rgb_04u02204u022000000.gif" width="174" height="74" alt="Error image" />
            </div>
        </div>
    </div>
</main>
