<main class=" cd-main-content">
    <div class="container topImg">
        <img src="../../../img/4994b192-biba-logo-sm_03i01e03h01e000000.png" width="125px" height="50px" alt="Error image" />
    </div>

    <div class="cd-fixed-bg cd-bg-1">

    </div>
    <!-- cd-fixed-bg -->

    <div class="full_content_1">
        <div class="container" >
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 content_1_left" >
                    <h2 class="content-h2-1">Now, screen time is quality time! </h2>
                    <p>
                      Biba games turn the screen-time kids love into the outdoor, physical and imaginative play that parents know they need.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 content_1_right">
                    <p class="content_1_right_p"> Sign up and stay up to date with Biba App updates, <br />case studies and community engagement reports.</p>
                    <div class="input-group input-group-lg txt_height">
                        <input type="text" class="form-control" placeholder="Enter email..." />
                        <span class="input-group-addon backgroundAdon"> <i class="fa fa-diamond icon_color"></i> </span>
                    </div>
                    <p class="bottom_p" > By entering your email and signing up, you are agreeing to receive Biba Smart Playground newsletters.Why We're Taking the Next Step </p>
                </div>

            </div>

        </div>
        <!-- cd-container -->
    </div>
    <div class="full_content_2">
      <div class="container">
        <div class="row content_2">
          <img src="../../../img/ca0914aa-iphone-h_0p90dd0p70db000000.png" width="" height="" alt="" />
        </div>
      </div>
    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-2">

    </div>
    <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-3">
        <div class="cd-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore,
                modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa,
                eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus
                alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus
                sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur,
                consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci
                tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
            </p>
        </div>
        <!-- cd-container -->
    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-3">

    </div>
    <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-1">
        <div class="cd-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore,
                modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa,
                eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus
                alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
            </p>
        </div>
        <!-- cd-container -->
    </div>
    <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-4">

    </div>
</main>
