body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3d3536;
    background-color: white;
}
body, html {
    /* important */
    height: 100%;
}
img.box-center {
    margin: 0 auto;
}
a {
    color: #FFFFFF !important;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
}
h4 {
    color: #f7903b;
    font-weight: bold;
    font-size: 23px;
}
.cd-main-content {
    height: 50%;
    position: relative;
    z-index: 1;
}
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/faa27bde-biba-photo-sm-2.jpg");
}
.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/bd2d4ad5-bgimage1.jpg");
}
.cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/fad61840-double-wide-slide.jpg");
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/d7875127-bgimage2.jpg");
}
@media (max-width: 1970px) {
    .cd-fixed-bg {
        background-attachment: fixed;
    }
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 48px;
        font-weight: 300;
    }
    .cd-scrolling-bg {
        padding: 8em 0;
        font-size: 20px;
        font-size: 20px;
        line-height: 2;
        font-weight: 300;
    }
    .content_2_video {
        position: absolute;
        z-index: 21;
        top: 81px;
        right: 281px;
        width: 634px;
        height: 360px;
    }
    .bbu1 {
        float: right;
    }
    .content_3_p1 {
        padding-top: 160px;
    }
}
@media (max-width: 1200px) {
    .cd-scrolling-bg {
        padding: 8em 0;
        font-size: 20px;
        font-size: 20px;
        line-height: 2;
        font-weight: 300;
    }
    .cd-fixed-bg {
        background-attachment: fixed;
    }
    .content_2_video {
        position: absolute;
        top: 81px;
        right: 181px;
        width: 634px;
        height: 360px;
    }
}
@media(max-width: 991px) {
    .cd-scrolling-bg {
        padding: 8px 0;
        font-size: 20px;
        font-size: 20px;
        line-height: 2;
        font-weight: 300;
    }
    .content_6_2 {
        padding: 40px 0px 20px 0px;
    }
    .content_2_img {
        /*display: none;*/
    }
    .content_2_video {
        top: 75px;
        right: 132px;
        width: 509px;
        height: 289px;
    }
}
@media(max-width: 753px) {
    .content_2_video {
        top: 75px;
        right: 130px;
        width: 498px;
        height: 283px;
    }
    .bbu1 {
        float: left;
    }
}
@media(max-width: 735px) {
    .content_2_video {
        top: 75px;
        right: 128px;
        width: 489px;
        height: 277px;
    }
}
@media(max-width: 720px) {
    .cd-scrolling-bg {
        position: absolute;
        top: 74px;
        right: 124px;
        width: 473px;
        height: 269px;
    }
    .content_6_2 {
        padding: 40px 0px 20px 0px;
    }
    .content_2_img {
        /*display: none;*/
    }
    .content_2_video {
        top: 74px;
        right: 124px;
        width: 473px;
        height: 268px;
    }
}
@media (max-width: 690px) {
    .content_2_video {
        top: 73px;
        right: 117px;
        width: 447px;
        height: 254px;
    }
    .content_3_p1 {
        padding-top: 90px;
    }
}
@media (max-width: 670px) {
    .content_2_video {
        top: 71px;
        right: 113px;
        width: 434px;
        height: 246px;
    }
}
@media (max-width: 650px) {
    .content_2_video {
        top: 71px;
        right: 112px;
        width: 426px;
        height: 243px;
    }
}
@media (max-width: 630px) {
    .content_2_video {
        top: 0px;
        right: 0px;
        width: 69%;
        height: 222px;
        position: relative;
    }
    .full_content_2 {
        background-color: #212121 !important;
    }
}
@media (max-width: 610px) {
    .content_2_img {
        display: none;
    }
    .content_2_video {
        top: 0px;
        right: 0px;
        width: 84%;
height: 263px;
    }
}
@media (max-width: 450px) {
    .cd-fixed-bg {
        background-attachment: fixed;
    }
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
        font-size: 48px;
        font-weight: 300;
    }
    .bbu1 {
        float: left;
    }
    .content_2_img {
        display: none;
    }
    .content_2_video {
        top: 0px;
        right: 0px;
        width: 88%;
        height: 186px;
    }
}
@media (max-width: 360px) {
    .content_2_video {
        top: 0px;
        right: 0px;
        width: 100%;
        height: 182px;
        position: relative;
    }
    .bbu1 {
        float: left;
    }
}

/* ---------------------------------------custom*/

.topImg {
    height: 75px;
    text-align: center;
    padding-top: 10px;
}
.content-h2-1 {
    color: #f7903b;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
}
.content_1_right {
    background-color: #13395f;
    padding: 50px 3px 20px 0px;
}
.full_content_1 {
    background-color: #184878;
    font-size: 19px;
    color: #FFFFFF;
}
.content_1_right_p {
    text-align: center;
}
.content_1_left {
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.bottom_p {
    font-size: 10px;
    color: #a9a9a9;
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.content_2 {
    position: relative;
    padding-top: 40px;
    text-align: center;
}
.txt_height {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
}
.input-group-lg>.form-control {
    border-radius: 0px;
    height: 52px;
}
#full_content_4_opacity {
    background-color: rgba(255, 255, 255, 0.61);
}
.full_content_2 {
    background-image: url("../img/57334bfd-bgimage3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.full_content_3 {
    background-image: url("../img/e825b761-orangebg-pattern.jpg");
    background-position: center center;
    background-size: cover;
}
.full_content_4 {
    background-color: rgba(255, 255, 255, 0.61);
    /*opacity: 0,5px; */
    background-image: url("../img/57334bfd-bgimage3 (1).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full_content_6 {
    background-image: url("../img/e825b761-orangebg-pattern.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full_content_7 {
    background-image: url("../img/57334bfd-bgimage3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content_3_p1 {
    padding-top: 160px;
    font-size: 36px;
    color: #FFFFFF;
}
.content_3_p2 {
    padding: 120px 0px 70px 0px;
    color: #FFFFFF;
    font-size: 19px;
}
.content_4_1 {
    padding: 40px 0px 30px 0px;
    text-align: center;
}
.content_4_2 {
    padding: 90px 0px 30px 0px;
    font-size: 19px;
}
.content_4p1 {
    font-size: 36px;
}
.full_content_5 {
    background-image: url("../img/57334bfd-bgimage3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content_5_1 {
    padding: 90px 0px 120px 0px;
    text-align: -webkit-center;
}
.full_content_2_opacity {
    background: rgba(255, 255, 255, 0.58);
}
.full_content_8 {
    background-color: rgba(12, 75, 119, 1);
}
.content_5 {
    padding-top: 20px;
    font-size: 19px;
    font-weight: normal;
}
.content_6_img {
    padding: 60px 0px 60px 0px;
}
.content_6_2 {
    padding: 70px 0px 40px 0px;
    color: #FFFFFF;
    font-size: 19px;
}
.content_6_2p1 {
    font-size: 30px;
    font-weight: normal;
}
.content_6_2p2 {
    padding-top: 7px;
    font-size: 19px;
}
.content_7_1 {
    text-align: center;
    padding: 90px 0px 50px 0px;
}
.content_7_2 {
    color: #FFFFFF;
    padding: 60px 0px 70px 0px;
    font-size: 19px;
}
.full_content_7_opacity {
    background-color: rgba(95, 198, 196, 0.72);
}
.bbu1 {
    background-image: url("../img/default1.png");
    background-size: contain;
    margin: 5px;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.bbu1:hover {
    background-image: url("../img/default11.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(12, 75, 119, 1);
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}
.bbu2 {
    background-image: url("../img/default2.png");
    background-size: contain;
    width: 200px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.bbu2:hover {
    background-image: url("../img/default22.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(12, 75, 119, 1);
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}
.content_8_1 {
    padding-top: 90px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}
.content_8_2 {
    padding: 20px 10px;
    align-content: center;
}
.content_8_3 {
    text-align: center;
    padding: 20px 0px;
}
.full_content_5_opacity {
    background-color: rgba(255, 255, 255, 0.811765);
}
.content_1_a {
    background-color: rgba(247, 144, 59, 1);
}
.content_1_a:hover {
    background-color: #039BE5;
    color: #FFFFFF;
}
.input-group-lg>.input-group-addon {
    border-radius: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*.content_2_video {
position: absolute;
z-index: 21;
top: 81px;
right: 281px;
width: 634px;
height: 360px;
}*/


/*
* CUSTOM SCROLLBAR
*/

::-webkit-scrollbar {
    width: 9px;
    height: 6px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
#content_7_21 {
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
}
#content_2_p {
    font-size: 36px;
    padding-top: 41px;
    text-align: center;
}
